In [4]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import seaborn as sns

Load data

In [5]:
input_data = pd.read_csv('./data/lake_okeechobee_WIN_21FLSFWM_WIN_21FLWQA_WIN_21FLFTM_WIN_21FLWPB.txt', delimiter="\t", 
                         low_memory=False)  
input_data.head()

,WBodyID,WaterBodyName,DataSource,Actual_StationID,StationID,StationName,Actual_Latitude,Actual_Longitude,ActivityDepth,SampleDate,...,TP_ugl,TP_ugl_QA,TSI,TSI_QA,TSS_mgl,TSS_mgl_QA,Turb_ntu,Turb_ntu_QA,VSS_mgl,VSS_mgl_QA
0,1002667,"Okeechobee, Lake",WIN_21FLSFWM,"=""17625""","=""17625""",NaN,26.9849,-80.6214,0.5,6/20/2016 10:47:00 AM,...,172.0,NaN,NaN,NaN,31.0,I,66.0,NaN,NaN,NaN
1,1002667,"Okeechobee, Lake",WIN_21FLSFWM,"=""17625""","=""17625""",NaN,26.9849,-80.6214,0.5,7/6/2016 9:42:00 AM,...,96.0,NaN,63.0,NaN,13.0,I,11.3,NaN,NaN,NaN
2,1002667,"Okeechobee, Lake",WIN_21FLSFWM,"=""17766""","=""17766""",NaN,26.8641,-80.6324,0.5,7/6/2016 10:45:00 AM,...,284.0,NaN,NaN,NaN,49.0,I,42.7,NaN,NaN,NaN
3,1002667,"Okeechobee, Lake",WIN_21FLSFWM,"=""17766""","=""17766""",NaN,26.8641,-80.6324,0.5,7/6/2016 10:50:00 AM,...,142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1002667,"Okeechobee, Lake",WIN_21FLSFWM,"=""17766""","=""17766""",NaN,26.8641,-80.6324,0.5,7/8/2016 5:17:00 PM,...,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
input_data['Anatoxin_ugl'].unique()

array([ nan, 0.25])

In [41]:
input_data['DataSource'].unique()

array(['WIN_21FLSFWM', 'WIN_21FLWQA', 'WIN_21FLFTM', 'WIN_21FLWPB'],
      dtype=object)

In [21]:
input_data['SampleDateUpdate'] = pd.to_datetime(input_data['SampleDate'], format='%m/%d/%Y %H:%M:%S %p').dt.strftime('%m/%d/%Y')

In [24]:
input_data = input_data.dropna(axis=1, how='all')

In [37]:
for col in input_data.columns:
    print("datatype of " + "'" + col + "'" + " is " + str(input_data[col].dtypes))

datatype of 'WBodyID' is int64
datatype of 'WaterBodyName' is object
datatype of 'DataSource' is object
datatype of 'Actual_StationID' is object
datatype of 'StationID' is object
datatype of 'StationName' is object
datatype of 'Actual_Latitude' is float64
datatype of 'Actual_Longitude' is float64
datatype of 'ActivityDepth' is float64
datatype of 'SampleDate' is object
datatype of 'Alk_CaCO3_mgl' is float64
datatype of 'Alk_CaCO3_mgl_QA' is object
datatype of 'Anatoxin_ugl' is float64
datatype of 'Anatoxin_ugl_QA' is object
datatype of 'C_organic_mgl' is float64
datatype of 'C_organic_mgl_QA' is object
datatype of 'Ca_mgl' is float64
datatype of 'Ca_mgl_QA' is object
datatype of 'Chla_ugl' is float64
datatype of 'Chla_ugl_QA' is object
datatype of 'ChlaC_ugl' is float64
datatype of 'ChlaC_ugl_QA' is object
datatype of 'chlb_ugl' is float64
datatype of 'chlb_ugl_QA' is object
datatype of 'Cl_mgl' is float64
datatype of 'Cl_mgl_QA' is object
datatype of 'Color_true_pcu' is float64
datatype of 'Color_true_pcu_QA' is object
datatype of 'Cond_umhocm' is float64
datatype of 'Cond_umhocm_QA' is object
datatype of 'DO_mgl' is float64
datatype of 'DO_mgl_QA' is object
datatype of 'DO_percent' is float64
datatype of 'DO_percent_QA' is object
datatype of 'Ecoli_100ml' is float64
datatype of 'Ecoli_100ml_QA' is object
datatype of 'F_mgl' is float64
datatype of 'F_mgl_QA' is object
datatype of 'Fe_ugl' is float64
datatype of 'Fe_ugl_QA' is object
datatype of 'hardness_mglCaCO3' is float64
datatype of 'K_mgl' is float64
datatype of 'K_mgl_QA' is object
datatype of 'Mg_mgl' is float64
datatype of 'Mg_mgl_QA' is object
datatype of 'Na_mgl' is float64
datatype of 'Na_mgl_QA' is object
datatype of 'NH3_N_ugl' is float64
datatype of 'NH3_N_ugl_QA' is object
datatype of 'NO2_ugl' is float64
datatype of 'NO2_ugl_QA' is object
datatype of 'NOx_ugl' is float64
datatype of 'NOx_ugl_QA' is object
datatype of 'OP_mgl' is float64
datatype of 'OP_mgl_QA' is object
datatype of 'pH' is float64
datatype of 'pH_QA' is object
datatype of 'Pheo_ugl' is float64
datatype of 'Pheo_ugl_QA' is object
datatype of 'Salinity_ppt' is float64
datatype of 'Salinity_PSS' is float64
datatype of 'Secchi_m' is float64
datatype of 'Secchi_m_QA' is object
datatype of 'Si_ugl' is float64
datatype of 'SO4_mgl' is float64
datatype of 'SO4_mgl_QA' is object
datatype of 'TDS_mgl' is float64
datatype of 'TDS_mgl_QA' is object
datatype of 'TempW_C' is float64
datatype of 'TempW_Ce' is float64
datatype of 'TKN_ugl' is float64
datatype of 'TKN_ugl_QA' is object
datatype of 'TN_ugl' is float64
datatype of 'TN_ugl_QA' is object
datatype of 'TP_ugl' is float64
datatype of 'TP_ugl_QA' is object
datatype of 'TSI' is float64
datatype of 'TSS_mgl' is float64
datatype of 'TSS_mgl_QA' is object
datatype of 'Turb_ntu' is float64
datatype of 'Turb_ntu_QA' is object
datatype of 'VSS_mgl' is float64
datatype of 'VSS_mgl_QA' is object
datatype of 'SampleDateUpdate' is object

In [28]:
summary = input_data.describe()
print(summary.columns)
summary

Index(['WBodyID', 'Actual_Latitude', 'Actual_Longitude', 'ActivityDepth',
       'Alk_CaCO3_mgl', 'Anatoxin_ugl', 'C_organic_mgl', 'Ca_mgl', 'Chla_ugl',
       'ChlaC_ugl', 'chlb_ugl', 'Cl_mgl', 'Color_true_pcu', 'Cond_umhocm',
       'DO_mgl', 'DO_percent', 'Ecoli_100ml', 'F_mgl', 'Fe_ugl',
       'hardness_mglCaCO3', 'K_mgl', 'Mg_mgl', 'Na_mgl', 'NH3_N_ugl',
       'NO2_ugl', 'NOx_ugl', 'OP_mgl', 'pH', 'Pheo_ugl', 'Salinity_ppt',
       'Salinity_PSS', 'Secchi_m', 'Si_ugl', 'SO4_mgl', 'TDS_mgl', 'TempW_C',
       'TempW_Ce', 'TKN_ugl', 'TN_ugl', 'TP_ugl', 'TSI', 'TSS_mgl', 'Turb_ntu',
       'VSS_mgl'],
      dtype='object')

,WBodyID,Actual_Latitude,Actual_Longitude,ActivityDepth,Alk_CaCO3_mgl,Anatoxin_ugl,C_organic_mgl,Ca_mgl,Chla_ugl,ChlaC_ugl,...,TDS_mgl,TempW_C,TempW_Ce,TKN_ugl,TN_ugl,TP_ugl,TSI,TSS_mgl,Turb_ntu,VSS_mgl
count,2155.0,2155.000000,2155.000000,2155.000000,1221.000000,570.00,132.000000,765.000000,37.000000,1128.000000,...,7.000000,1243.000000,1243.000000,124.000000,1563.000000,1591.000000,1112.000000,1221.000000,1217.000000,967.000000
mean,1002667.0,26.928706,-80.767115,0.451485,95.805078,0.25,12.732576,34.613333,41.675676,21.430495,...,157.285714,25.642743,25.642743,1400.403226,1598.772873,168.854180,60.361511,32.080917,38.240181,10.448811
std,0.0,0.126472,0.114986,0.129596,20.834311,0.00,2.505063,6.264949,40.509295,22.695418,...,39.491410,4.094982,4.094982,764.504621,941.635131,121.371347,7.138887,39.228313,40.015821,8.422169
min,1002667.0,26.729175,-81.069347,0.100000,23.000000,0.25,9.300000,11.700000,7.000000,0.988000,...,112.000000,13.900000,13.900000,570.000000,544.000000,7.000000,37.000000,3.000000,0.900000,3.000000
25%,1002667.0,26.849366,-80.860095,0.300000,91.000000,0.25,11.300000,33.000000,17.000000,7.420000,...,134.500000,22.495000,22.495000,1060.000000,1250.000000,113.000000,56.000000,12.000000,14.000000,5.000000
50%,1002667.0,26.864100,-80.782836,0.500000,100.000000,0.25,11.950000,35.800000,30.000000,13.600000,...,140.000000,26.800000,26.800000,1200.000000,1450.000000,150.000000,60.000000,22.000000,26.800000,8.000000
75%,1002667.0,27.009200,-80.632400,0.500000,106.000000,0.25,13.225000,38.200000,48.000000,27.125000,...,175.000000,29.000000,29.000000,1470.000000,1720.000000,198.000000,65.000000,38.000000,51.500000,13.000000
max,1002667.0,27.193800,-80.621400,2.200000,202.000000,0.25,23.600000,69.600000,220.000000,210.000000,...,230.000000,33.100000,33.100000,7250.000000,23100.000000,2564.000000,88.000000,518.000000,383.000000,100.000000

In [31]:
for i in range(len(input_data.columns)):
    missing_data = input_data[input_data.columns[i]].isna().sum()
    perc = missing_data / len(input_data) * 100
    print('>%d,  missing entries: %d, percentage %.2f' % (i, missing_data, perc))

>0,  missing entries: 0, percentage 0.00
>1,  missing entries: 0, percentage 0.00
>2,  missing entries: 0, percentage 0.00
>3,  missing entries: 0, percentage 0.00
>4,  missing entries: 0, percentage 0.00
>5,  missing entries: 799, percentage 37.08
>6,  missing entries: 0, percentage 0.00
>7,  missing entries: 0, percentage 0.00
>8,  missing entries: 0, percentage 0.00
>9,  missing entries: 0, percentage 0.00
>10,  missing entries: 934, percentage 43.34
>11,  missing entries: 2149, percentage 99.72
>12,  missing entries: 1585, percentage 73.55
>13,  missing entries: 1585, percentage 73.55
>14,  missing entries: 2023, percentage 93.87
>15,  missing entries: 2153, percentage 99.91
>16,  missing entries: 1390, percentage 64.50
>17,  missing entries: 2154, percentage 99.95
>18,  missing entries: 2118, percentage 98.28
>19,  missing entries: 2154, percentage 99.95
>20,  missing entries: 1027, percentage 47.66
>21,  missing entries: 2115, percentage 98.14
>22,  missing entries: 1581, percentage 73.36
>23,  missing entries: 2041, percentage 94.71
>24,  missing entries: 1142, percentage 52.99
>25,  missing entries: 2146, percentage 99.58
>26,  missing entries: 1181, percentage 54.80
>27,  missing entries: 2124, percentage 98.56
>28,  missing entries: 912, percentage 42.32
>29,  missing entries: 2149, percentage 99.72
>30,  missing entries: 913, percentage 42.37
>31,  missing entries: 2137, percentage 99.16
>32,  missing entries: 2127, percentage 98.70
>33,  missing entries: 2154, percentage 99.95
>34,  missing entries: 2154, percentage 99.95
>35,  missing entries: 2154, percentage 99.95
>36,  missing entries: 2148, percentage 99.68
>37,  missing entries: 2153, percentage 99.91
>38,  missing entries: 2116, percentage 98.19
>39,  missing entries: 2154, percentage 99.95
>40,  missing entries: 1390, percentage 64.50
>41,  missing entries: 1390, percentage 64.50
>42,  missing entries: 2154, percentage 99.95
>43,  missing entries: 1390, percentage 64.50
>44,  missing entries: 2154, percentage 99.95
>45,  missing entries: 1390, percentage 64.50
>46,  missing entries: 2148, percentage 99.68
>47,  missing entries: 908, percentage 42.13
>48,  missing entries: 1708, percentage 79.26
>49,  missing entries: 1188, percentage 55.13
>50,  missing entries: 1346, percentage 62.46
>51,  missing entries: 869, percentage 40.32
>52,  missing entries: 1919, percentage 89.05
>53,  missing entries: 907, percentage 42.09
>54,  missing entries: 2009, percentage 93.23
>55,  missing entries: 912, percentage 42.32
>56,  missing entries: 2145, percentage 99.54
>57,  missing entries: 1027, percentage 47.66
>58,  missing entries: 2023, percentage 93.87
>59,  missing entries: 2126, percentage 98.65
>60,  missing entries: 2126, percentage 98.65
>61,  missing entries: 1179, percentage 54.71
>62,  missing entries: 2138, percentage 99.21
>63,  missing entries: 1452, percentage 67.38
>64,  missing entries: 1407, percentage 65.29
>65,  missing entries: 2152, percentage 99.86
>66,  missing entries: 2148, percentage 99.68
>67,  missing entries: 2153, percentage 99.91
>68,  missing entries: 912, percentage 42.32
>69,  missing entries: 912, percentage 42.32
>70,  missing entries: 2031, percentage 94.25
>71,  missing entries: 2153, percentage 99.91
>72,  missing entries: 592, percentage 27.47
>73,  missing entries: 2133, percentage 98.98
>74,  missing entries: 564, percentage 26.17
>75,  missing entries: 2150, percentage 99.77
>76,  missing entries: 1043, percentage 48.40
>77,  missing entries: 934, percentage 43.34
>78,  missing entries: 1532, percentage 71.09
>79,  missing entries: 938, percentage 43.53
>80,  missing entries: 2144, percentage 99.49
>81,  missing entries: 1188, percentage 55.13
>82,  missing entries: 1192, percentage 55.31
>83,  missing entries: 0, percentage 0.00

In [29]:
# plt.style.use('classic')
# %matplotlib inline
# plt.rcParams["figure.figsize"] = [16, 12]

In [30]:
# input_data_pivot.set_index('SampleDateUpdate',inplace=True)
# for i, col in enumerate(input_data_pivot.columns):
#     input_data_pivot[col].plot(fig=plt.figure(i))
#     plt.ion()
#     plt.title(col)
#     plt.xticks(rotation=90)
#     plt.tight_layout()
#     plt.savefig('./figs/'+str(col)+'.png', dpi=300)
#     plt.close()

In [ ]:
input_data_imputed = input_data.drop(columns=['Result_Comment', 'SampleDate', 'StationID'])

# Imputing missing values
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
for i in range(len(input_data_imputed.columns)):
    input_data_algal_imputed[input_data_algal_imputed.columns[i]] = imputer.fit_transform(input_data_algal_imputed[input_data_algal_imputed.columns[i]].values.reshape(-1,1))[:,0]

input_data_algal_imputed